<div class="modal fade component-property"  focus-group focus-group-head="loop" focus-group-tail="loop" focus-stacktabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{gridMatrix[propRow][propCol].name}}</h4>
			  </div>
			  <div class="modal-body">
			   		<div class="row container-fluid">
								<div class="form-group col-md-12">
									<label class="control-label ng-scope required" translate="">Component Name</label>
									<input name="user-name" class="form-control" type="text" ng-model="gridMatrix[propRow][propCol].name" placeholder="Provide meaningful name" maxlength="200" ng-maxlength="50">
									<!-- <select name="category" class="form-control" ng-model="prop.destLink" ng-options="list for list in componentList[gridMatrix[propRow][propCol].componentRefID].subComponent" document-type-required>
									</select> -->
								</div>
					</div>
				    		
				    		<div class="table-responsive" ng-if="componentList[gridMatrix[propRow][propCol].componentRefID].properties.length>0" >
                               <div ng-include="'partials/component/AttributeTable.html'"></div>
                            </div>
                           
                            <!-- <div class="row container-fluid">
                            <div ng-include="'partials/component/ManageConnectionsModal.html'"></div>
							</div> -->
							
							
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" focus-element="autofocus" data-dismiss="modal" ng-click="saveProperties()">Save</button>
			  </div>
			</div>
		  </div>
		  </div>